/*-----------------------------------------------------------------------------
Colors
-----------------------------------------------------------------------------*/
@bgDefault: #212121;
@bgHighlight: #424242;
@colDefault: #fafafa;
@colHighlight: #f5f5f5;
@closeDefault: #E04343;
