/*-----------------------------------------------------------------------------
Bootstrap navbar
-----------------------------------------------------------------------------*/
@import "_colors";
.modal-header {
	background-color: @bgDefault;
	color: @colDefault;
	border-bottom: 1px solid @colHighlight;
	.close {
		color: @closeDefault;
		opacity: 1;
		&:hover {
			color: darken(@closeDefault, 10%);
		}
	}
}
.navbar {
	margin-bottom: 0;
	border-radius: 0;
}
@dropDown: true;
.ddm() when (@dropDown) {
  > li > .dropdown-menu {
      background-color: @bgDefault;
      > li {
        > a {
          color: @colDefault;
          &:hover,  &:focus {
            color: @colHighlight;
            background-color: @bgHighlight; }}
        > .divider {
          background-color: @bgHighlight;}}}
  .open .dropdown-menu > .active {
    > a, > a:hover, > a:focus {
      color: @colHighlight;
      background-color: @bgHighlight; }}}
.navbar-default {
  background-color: @bgDefault;
  border-color: @bgHighlight;
  .navbar-brand {
    color: @colDefault;
    &:hover, &:focus {
      color: @colHighlight; }}
  .navbar-text {
    color: @colDefault; }
  .navbar-nav {
    > li {
      > a {
        color: @colDefault;
        &:hover,  &:focus {
          color: @colHighlight; }}}
    .ddm;
    > .active {
      > a, > a:hover, > a:focus {
        color: @colHighlight;
        background-color: @bgHighlight; }}
    > .open {
      > a, > a:hover, > a:focus {
        color: @colHighlight;
        background-color: @bgHighlight; }}}
  .navbar-toggle {
    border-color: @bgHighlight;
    &:hover, &:focus {
      background-color: @bgHighlight; }
    .icon-bar {
      background-color: @colDefault; }}
  .navbar-collapse,
  .navbar-form {
    border-color: @colDefault; }
  .navbar-link {
    color: @colDefault;
    &:hover {
      color: @colHighlight; }}}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    > li > a {
      color: @colDefault;
      &:hover, &:focus {
        color: @colHighlight; }}
    > .active {
      > a, > a:hover, > a:focus {
        color: @colHighlight;
        background-color: @bgHighlight; }}}
}
