/*-----------------------------------------------------------------------------
Main
-----------------------------------------------------------------------------*/
.se-pre-con {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(/phpMyFarm/assets/icons/preloader.gif) center no-repeat #ffffff;
}
.logo {
  float: left;
  width: 25px;
  height: 25px;
}
