/*-----------------------------------------------------------------------------
Ticket
-----------------------------------------------------------------------------*/
.noprint {
  width: 100%;
//  background-color: green;
  button {
    width: 100%;
//    background-color: green;
//    color: white;
//    border-style: outset;
//    border-color: green;
//    &:hover {
//      border-style: inset;
//      border-color: #208930;
//      background-color: #208930;
//    }
  }
}
hr {
//  background-color: green;
  padding: 3px;
}
.title {
  text-align: center;
}
.date {
  text-align: center;
  padding-bottom: 2px;
  margin-top: -20px;
}
.cut {
  border-style: dashed;
  border-width: 2px;
  height: 0.1px;
}
.table {
  //font-size: 105%;
}
.left, .right {
  li {
    //font-size: 110%;
  }
}
.right {
  float: right;
  list-style-type: none;
  margin-right: 40px;
  margin-top: -5px;
}
.left {
  float: left;
  list-style-type: none;
  margin-top: -5px;
}
.one {
  width: 33%;
}
.two {
  width: 33%;
}
.three {
  width: 33%;
}
